<form action="/<%= @post[:id]%>" method="post">
  <div>
    <label>Title</label>
    <input type="text" name="title" placeholder="Enter a title for your post" value="<%= @post[:title] %>">
  </div>

  <div>
    <label>Description</label>
    <textarea name="body" rows="8" cols="20">
      <%= @post[:body] %>
    </textarea>
  </div>

  <input type="submit" value="submit">

  <% if (@post[:id] !='') %>
  <input type="hidden" name="_method" value="PUT">
  <% end %>

</form>
